<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Team Helper</title>
</head>
<body>
  <header>
    <h1>{{"Welcome to the Team Helper" | translate}}</h1>
  </header>
  <main>
    <p>
        {{'Team helper is a tool for automatization of team trainings, use the navbar to navigate through pages!' | translate}}
    </p>
  </main>
  <footer>
    <p>&copy; 2023 Course work.</p>
  </footer>
</body>
</html>
